.Breadcrumb {
  color: #999;
  font-size: 13px;
  width: 83%;
  margin: auto;
  margin-top: 10px;
  li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
  }
  li::after {
    content: '>';
    padding-left: 10px;
  }
  li:last-of-type::before, 
  li:last-of-type::after { 
    display: none; 
  }
}
